import("FLCore")
import("FLAssess")
import("ggplotFL")
import("patchwork")
import("foreach")
import("FLasher")

importFrom("splines",
  "bs")

importFrom("mgcv",
  "gam")

exportClasses(
  "AAP.control",
  "AAP")

export("aap",
  "aap.sa",
  "aaphcxval",
  "AAP.control",
  "sigmas")

exportMethods(
  "+",
  "catch",
  "landings",
  "discards",
  "landings.wt",
  "discards.wt",
  "stock.wt",
  "control",
  "harvest",
  "index",
  "index.var",
  "landings.n",
  "discards.n",
  "q.hat",
  "catch.n",
  "index.name",
  "index.res",
  "landings.var",
  "discards.var",
  "rec",
  "residuals",
  "ssb",
  "plot",
  "fbar",
  "stdfile",
  "stock.n",
  "index.range",
  "index.hat")
